[user]
	name = David Blankenship
	email = david.blankenship@yale.edu
	signingkey = /Users/db2553/.ssh/id_rsa.pub
[core]
	autocrlf = input
	excludesfile = /Users/db2553/.gitignore
[push]
	default = upstream
	autoSetupRemote = true
[merge]
	ff = only
	tool = fugitive
[fetch]
	prune = true
[commit]
	template = ~/.gitmessage
	gpgsign = true
[alias]
	b = branch
	ca = commit -v -a
	cb = checkout -b
	co = checkout
	st = status
	unstage = reset
	hub = !hub
	mylog = log --oneline --decorate --graph
[mergetool "vimdiff"]
	cmd = "nvim -d $MERGED $LOCAL $BASE $REMOTE -c 'wincmd J | wincmd ='"
[gpg]
	format = ssh
[init]
	defaultBranch = main
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[mergetool "fugitive"]
	cmd = nvim -f -c "Gvdiffsplit!" "$MERGED"
