[submodule "base16-shell"]
	path = base16/.config/base16-shell
	url = http://github.com/chriskempson/base16-shell
[submodule "ohmyzsh"]
	path = omz/.oh-my-zsh
	url = http://github.com/ohmyzsh/ohmyzsh
[submodule "zsh-autosuggestions"]
	path = omz/.config/omz/custom/plugins/zsh-autosuggestions
	url = http://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-syntax-highlighting"]
	path = omz/.config/omz/custom/plugins/zsh-syntax-highlighting
	url = http://github.com/zsh-users/zsh-syntax-highlighting
[submodule "sumneko"]
	path = nvim/.local/share/nvim/lua-language-server
	url = http://github.com/sumneko/lua-language-server
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "omz/.config/omz/dracula"]
	path = omz/.config/omz/dracula
	url = https://github.com/dracula/zsh
[submodule "antigen/.antigen"]
	path = antigen/.antigen
	url = https://github.com/zsh-users/antigen
