[submodule "ohmyzsh"]
	path = zsh/.oh-my-zsh
	url = http://github.com/ohmyzsh/ohmyzsh
[submodule "zsh-autosuggestions"]
	path = zsh/.config/omz/custom/plugins/zsh-autosuggestions
	url = http://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-syntax-highlighting"]
	path = zsh/.config/omz/custom/plugins/zsh-syntax-highlighting
	url = http://github.com/zsh-users/zsh-syntax-highlighting
[submodule "sumneko"]
	path = nvim/.local/share/nvim/lua-language-server
	url = http://github.com/sumneko/lua-language-server
[submodule "tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "dracula"]
	path = zsh/.config/omz/dracula
	url = https://github.com/dracula/zsh
[submodule "tmux-sensible"]
  path = tmux/.tmux/plugins/tmux-sensible
  url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux-yank"]
  path = tmux/.tmux/plugins/tmux-yank
  url = https://github.com/tmux-plugins/tmux-yank
[submodule "vim-tmux-navigator"]
  path = tmux/.tmux/plugins/vim-tmux-navigator
  url = https://github.com/christoomey/vim-tmux-navigator
