[submodule "zsh/.config/zsh/zsh-autosuggestions"]
	path = zsh/.config/zsh/zsh-autosuggestions
	url = http://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.config/zsh/zsh-history-substring-search"]
	path = zsh/.config/zsh/zsh-history-substring-search
	url = http://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh/.config/zsh/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/zsh-syntax-highlighting
	url = http://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/.config/base16-shell"]
	path = zsh/.config/base16-shell
	url = http://github.com/chriskempson/base16-shell
